.region:hover {
    fill: red !important;
    cursor: pointer;
}

#map-svg {
}

text {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.region-name {
    font-family: Arial, Helvetica, sans-serif;
}