* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: calc(50% - 5px);
    padding: 10px;
    height: 60vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#map-canvas {
    margin-right: 10px;
}

#control-panel {
    border: 1px solid black;
    border-radius: 10px;
    height: calc(60vh - 20px);
    margin-bottom: 10px;
    width: 10%;
    position: absolute;
}

#overview {
    height: calc(100vh - (60vh + 3 * 10px));
    margin-top: 10px;
}

#time-range {
    position: absolute;
    bottom: 0;
}

.box-shadow {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}